@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #0034AC;

}


/*CABEÇALHO*/

/* Menu rede social*/
.menu{
        
    background-color: #0034AC;
    margin-top: -20%;
    width: 100%;
    text-align: left;
    padding: 13px 0px;
}

nav{
background-color: #f3f3f3;
display: flex;
flex-direction: column;
align-items: center;
max-width: 100%;


}

/*Logo da empresa*/
#logmarc{
padding: 73px 46px;

}

/*Links*/

#links > ul {
padding: 0px;
margin: 0px;
list-style:none;
}

#links > ul > li { 
display: inline;
}

#links > ul > li a {
transition: 0.5s all !important;
font-family: 'Oswald', sans-serif;
font-weight: bolder;
padding: 54px 20px;
display: inline-block;
text-decoration: none;
font-size: 20px;
text-shadow: 1px 1px 1px #111;
color: #DD3333;
}   

#links > ul > li a:hover {
color: #0034AC;  
}


/*Tel e Email*/
.info{
font-family: 'Oswald', sans-serif;
text-align: right;
color: white;
margin-right: 30px;
margin-top: -1.8%;
}

/*tarja fina em baixo do menu*/
#lista{
background-color: #DD3333;
padding: 0px 0 .1px 0px;
height: 3px;
}


/*ICONE DE WHATS*/
#whats{
    position: fixed;
    top: 20%;
    right: 2%;
    padding: 10px;
    z-index: 10000000;
}

#whats a{
    text-decoration: none;
    box-sizing: border-box;
}

/*TELA PRINCIPAL*/

section{
    margin: 20px 60px 0 20px;
}

.txt-lj{
  width: 60%;  
  text-align: center;  
  padding: 0 -90px;
}


.txt-lj > h1{
    color: #f3f3f3;
    font-family: 'Lato', sans-serif;
    line-height: 1.42857143;
    text-align: center;
    padding-bottom: 20px;
}

.txt-lj > p{
    color: #c9bebe;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 24px;
    
}

/*LISTA DE PRODUTOS*/

#titulo-prod{
    color: #f3f3f3;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

.list-prod{
    margin-left: 80px;
    margin-top: 10px;
    padding: 10px;
}

.list-prod > li{
    color: #c9bebe;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.prods{
    color: #f3f3f3;;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-top: 15px;
    margin-left: 50px;
}

/*.cx_opt{
  text-align: right;
  margin-left: 20px;
  margin-top: -20%;
  height: 410px;
}*/


/*LINHA VERMELHA*/

#linver{

    border-top: 1px solid #f4001e;
    margin: 50px 70px 60px 70px;
}


select{
   background-color: #f3f3f3;
   width: 200px;
   height: 30px;
   border: 1px solid #898989;
   border-radius: 5px;
   font-family: 'Lato', sans-serif;
   font-weight: bolder;
}

/*FOTOS PRODUTOS*/

figure ul{
    max-width: 800px;
    list-style: none;
    display: flex;
    
}

.min{
    width: 130px;
    padding: 10px 5px 0 5px;
}

#list-1{
    margin-left: 700px;
}

#list-2{
    margin-left: 700px;
}


/*RODAPÉ*/

footer{
    background-color: #f3f3f3;
    text-align: left;
    color: #001a56;
    margin: 150px 16px 15px 20px;
    border-radius: 8px;
}

footer > p{
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    padding: 15px 7px 16px 60px;
}

#icon{
    text-align: right;
    padding: 0 4px 14px 0;
    margin-top: -2%;
}




