@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #0034AC;
}

/*CABEÇALHO*/

.redsoc{
    display: flex;
    width: 100%;
    margin-bottom: -1%;
} 

.marca{
    margin-bottom: -65%;
}

nav{
    background-color: #f3f3f3;
    box-sizing: border-box;
    height: 130px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#insta{
    margin-bottom: -50%;
    margin-left: 15px;
}

#face{
    margin-bottom: -50%;
}

/*Tel e Email*/
.info{
    font-family: 'Oswald', sans-serif;
    color: white;
    margin-left: 71%;
    margin-top: 1%;
}

/*tarja fina em baixo do menu*/
#lista{
    background-color: #DD3333;
    padding: 0px 0 .1px 0px;
    height: 3px;
}


/*Logo da empresa*/
 #logmarc{
     display: flex;
}

/*Links*/
#links > ul {
    padding: 0px;
    margin-left: 700px;
    list-style:none;
}

#links > ul > li { 
    display: inline;
 }

 #links > ul > li a {
    transition: 0.5s all !important;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    padding: 54px 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 1px 1px 1px #111;
    color: #DD3333;
}   

#links > ul > li a:hover {
    color: #0034AC;  
}

/*BOTÃO MENU*/
#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

menu a{
    display: block;
    padding: .5rem;
}

#btn-mobile{
    display: none;
}

/*ICONE DE WHATS*/
#whats{
    position: fixed;
    top: 35%;
    right: 2%;
    padding: 10px;
    z-index: 10000000;
}

#whats a{
    text-decoration: none;
    box-sizing: border-box;
}


main .princ {
    display: flex;
    flex-wrap: wrap;
}


section{ 
    margin: 20px 60px 0 20px;
}

.princ_qm{
    width: 40%;
    text-align: center;
    padding: 0 70px;
}

.princ_qm > p{
    color: #c9bebe;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 24px;
}

.princ_qm > h1{
    color: #f3f3f3;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    line-height: 1.42857143;
    text-align: center;
}

.princ_qm > h2{
    color:#f3f3f3;
    text-align: left;
    font-family: 'Lato', sans-serif;
    line-height: 1.42857143;
    font-size: 14px;
}

/*LOCALIZAÇÃO*/

.locz{
   text-align: right;
   margin-left: 50%;
   margin-top: -30%;
}

/*LINHA VERMELHA*/

#linver{
    border-top: 1px solid #f4001e;
    margin: 120px 70px 60px 70px;
}

/*GALERIA*/

figure{
    margin-left: 105px;
    
}


#galeria{
    color: #f3f3f3;
    font-weight: 600;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
  
}

figure ul{
    width: 800px;
    list-style: none;
    display: flex;
    margin: 70px;
    
}

.min{
    width: 200px;
    padding: 10px;
}

.lbox{
    visibility: hidden;
    opacity: 0;
    position: fixed;
}

.lbox:target{
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(243, 243, 243, .7);
    position: fixed;
}

.box_img{
    width: 1000px;
    margin: 10px auto;
}


/*BOTÕES*/

.bnt{
    color: #f3f3f3;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    height: 50px;
    position: absolute;
}

#prev{
    left: 5%;
    top: 45%;
}

#next{
    right: 5%;
    top: 45%;
}

#close{
    top: 0;
    right: 2%;
}


/*RODAPÉ*/
footer{
    background-color: #f3f3f3;
    text-align: left;
    color: #001a56;
    margin: 150px 16px 15px 20px;
    border-radius: 8px;
}

footer > p{
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    padding: 15px 7px 16px 60px;
}

#icon{
    text-align: right;
    padding: 0 4px 14px 0;
    margin-top: -2%;
}


/********************************RESPONSIVIDADE****************************************************/


@media (max-width: 600px) {

/*TARJA AZUL*/
.redsoc{
    display: inline-block;
 }
    
#insta{
    margin-bottom: -10%;
    margin-left: 5px;
}
    
#face{
   margin-bottom: -10%; 
}

/*INFORMAÇÕES*/   
.info{
    font-size: 10px;
    margin-left: 30%;
    text-align: center;
    display: inline;
}

 /*BOTÃO MENU*/
 #btn-mobile {
    margin-left: 235px;
    display: flex;
    padding: .5rem 1rem;
    font-size: 15px;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
} 

#mecanica{
   border-top: 2px solid;
   width: 20px;
}

#mecanica::after, #mecanica::before {
   content: '';
   display: block;
   width: 20px;
   height: 2px;
   background: currentColor;
   margin-top: 5px;
   transition: .3s;
   position: relative;
}

#links.active #mecanica{
   border-top-color: transparent;
}

#links.active #mecanica::before{
   transform: rotate(135deg);
}

#links.active #mecanica::after{
   transform: rotate(-135deg);
   top: -7px;
}

#menu{
   display: block;
   position: absolute;
   width: 100%;
   top: 130px;
   right: 0px;
   background-color: #f3f3f3;
   transition: .6s;
   z-index: 1000;
   height: 0px;
   visibility: hidden;
   overflow: hidden;   
}

#links.active #menu{
   height: calc(100vh - 40px);
   visibility: visible;
   overflow: auto; /*para criar barra de rodagem dependendo da quantidade de itens no menu*/
}

#menu a{
   padding: 1rem 0;
   margin: 0 1rem;
}

/*LOCAL DO MENU E LOGO*/
nav{
   height: 80px;
}

/*WHATS*/
.whats-img a{
   display: none;
   
   
}

/*DESCRIÇÃO QUEM SOMOS*/
.qms{
    margin-left: 5px;
}
.princ_qm{
    width: 100%;  
    padding: 0 30px; 
}

.princ_qm > p{
    color: #c9bebe;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: lighter;
}

.princ_qm > h1{
    color: #f3f3f3;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    line-height: 1.42857143;
}

.princ_qm > h2{
    color:#f3f3f3;
    text-align: left;
    font-family: 'Lato', sans-serif;
    line-height: 1.42857143;
    font-size: 14px;
}
/*LOCALIZAÇÃO*/

iframe{
    width: 200px;
    height: 150px;
    margin-left: -80%;
    margin-top: 80%;
 }
/*GALERIA DE FOTOS*/

#galeria{
   display: none;
}


/*RODAPÉ*/

.footer {
    background-color: #f3f3f3;
    color: #001a56;
    border-radius: 8px;
    height: 15px;
    margin: 15px 20px 5px 20px;
 }

#icon{
        margin-left: 1%;
        margin-top: -10%;
    }
    
}




/*************************************RESPONSIVIDADE TELA CHEIA************************************************************/

@media (min-width: 1050px) {

.whatsP a{
    display: none;
}
    
    
}
    


