@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #0034AC;

}

/*CABEÇALHO*/
.redsoc{
    display: flex;
    width: 100%;
    margin-bottom: -1%;
} 

.marca{
    margin-bottom: -65%;
}

nav{
    background-color: #f3f3f3;
    box-sizing: border-box;
    height: 130px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#insta{
    margin-bottom: -50%;
    margin-left: 15px;
}

#face{
    margin-bottom: -50%;
}

.loc1{
    margin-top: 2px;
    margin-left: 85px;
}

/*Tel e Email*/
.info{
    font-family: 'Oswald', sans-serif;
    color: white;
    margin-left: 71%;
    margin-top: 1%;
}

/*tarja fina em baixo do menu*/
#lista{
    background-color: #DD3333;
    padding: 0px 0 .1px 0px;
    height: 3px;
}


/*Logo da empresa*/
 #logmarc{
     display: flex;
}

/*Links*/
#links > ul {
    padding: 0px;
    margin-left: 700px;
    list-style:none;
}

#links > ul > li { 
    display: inline;
 }

 #links > ul > li a {
    transition: 0.5s all !important;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    padding: 54px 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 1px 1px 1px #111;
    color: #DD3333;
}   

#links > ul > li a:hover {
    color: #0034AC;  
}

/*BOTÃO MENU*/
#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

menu a{
    display: block;
    padding: .5rem;
}

#btn-mobile{
    display: none;
}

/*ICONE DE WHATS*/
#whats{
    position: fixed;
    top: 35%;
    right: 2%;
    padding: 10px;
    z-index: 10000000;
}

#whats a{
    text-decoration: none;
    box-sizing: border-box;
}

/*IMAGENS*/
main .princ {
    display: flex;
    flex-wrap: wrap;
}


img{
    vertical-align: middle;
 }

.img_fig{
    display: block;
    max-width: 100%;
    height: auto;
}

.file01{
    height: auto;
    max-width: auto;
    margin: auto;
  }


/*AMORTECEDOR*/

 .img_fig-amortecedor{
    margin: 20px;
 }


 
/*EMBREAGEM*/

.img_fig-emb{
    position: absolute;
    margin-left: 280px;
    margin-top: -16.5%;
}

/*INJEÇÃO*/

.img_fig-inj{
    display: block;
    margin-left: 530px;
    margin-top: -17%;
}


/*PREVENTIVA*/

.img_fig-manu{
    display: block;
    margin-top: 15%;
    margin: 20px;
    padding: 20px 20px 20px 0;
}

/*FREIOS*/

.img_fig-freios{
    display: block;
    margin-top: 15%;
    margin-left: 280px;
    padding: 20px 20px 20px 0;
    margin-top: -20%;
}

/*SUSPENÇÃO*/

.img_fig-oleo{
    border:5px;
    display: block;
    margin-left: 529px;
    padding: 20px 20px 20px 0;
    margin-top: -18.5%;
}


.min{
    width: 200px;
    padding: 10px;
}

.lboxS{
    visibility: hidden;
    opacity: 0;
    position: fixed;
}

.lboxS:target{
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(243, 243, 243, .7);
    position: fixed;
}

.box_imgS{
    width: 1000px;
    margin: 10px auto;
}

/*BOTÕES*/

.bnt{
    color: #f3f3f3;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    height: 50px;
    position: absolute;
}

#prev{
    left: 5%;
    top: 45%;
}

#next{
    right: 5%;
    top: 45%;
}

#close{
    top: 0;
    right: 2%;
}



/*TITULO PRINCIPAL DE SERVIÇOS*/

.servicos{
    bottom: 10px;
}

.titulo-princ {
    color: #f3f3f3;
    font-weight: bolder;
    font-size: 35px;
    font-family: "Oswald", sans-serif;
}

.texto-padrao {
    color: #c9bebe;
    font-weight: bolder;
    font-size:18px;
    font-family: "Oswald", sans-serif;
}


/*RODAPÉ*/
footer{
    background-color: #f3f3f3;
    text-align: left;
    color: #001a56;
    margin: 150px 16px 15px 20px;
    border-radius: 8px;
}

footer > p{
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    padding: 15px 7px 16px 60px;
}

#icon{
    text-align: right;
    padding: 0 4px 14px 0;
    margin-top: -2%;
}

/*CLASSES*/

.espec{
    width: 100%;
}


/********************************RESPONSIVIDADE****************************************************/

@media (max-width: 600px) {

/*TARJA AZUL*/
.redsoc{
    display: inline-block;
    margin-bottom: -27px;
}
        
#insta{
    margin-bottom: -10%;
    margin-left: 5px;
}
        
#face{
     margin-bottom: -10%; 
}

.loc2{
    margin-bottom: 5%;
    margin-left: 75px; 
}

.loc1{
    display: none;
}
    
/*LOGO*/
    
.marcag{
    display: none;
}
    
/*INFORMAÇÕES*/   
.info{
    font-size: 10px;
    margin-left: 30%;
    text-align: center;
    display: inline;
}
    
/*BOTÃO MENU*/ 
#btn-mobile {
    margin-left: 235px;
    display: flex;
    padding: .5rem 1rem;
    font-size: 15px;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
} 
    
#mecanica{
    color: red;
    border-top: 2px solid;
    width: 20px;
}
    
#mecanica::after, #mecanica::before {
    
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}
    
#links.active #mecanica{
    border-top-color: transparent;
}
    
#links.active #mecanica::before{
    transform: rotate(135deg);
}
    
#links.active #mecanica::after{
    transform: rotate(-135deg);
    top: -7px;
}
    
#menu{
     display: block;
    position: absolute;
    width: 100%;
    top: 140px;
    right: 0px;
    background-color: #f3f3f3;
    transition: .6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow: hidden;   
}
    
#links.active #menu{
    height: calc(100vh - 40px);
    visibility: visible;
    overflow: auto; /*para criar barra de rodagem dependendo da quantidade de itens no menu*/
}
    
#menu a{
    padding: 1rem 0;
    margin: 0 1rem;
}
    
/*LOCAL DO MENU E LOGO*/
nav{
    height: 65px;
 }
    
/*WHATS*/
.whats-img a{
    display: none; 
}

/*IMAGENS DE SERVIÇOS*/
.titulo-princ{
    font-size: 23px;
}

.texto-padrao{
    font-size: 15px;
}

.img_fig-emb {
    position: absolute;
    margin-left: 167px;
    margin-top: -34.5%;
}

.img_fig-manu {
    position: absolute;
    margin-top: -14%;
    margin-left: 20px;
}

.img_fig-freios {
    position: absolute;
    margin-top: -19%;
    margin-left: 167px;
}

.img_fig-inj {
    position: absolute;
    margin-top:  29%;
    margin-left: 20px;
}

.img_fig-oleo{
    position: absolute;
    margin-top: 8%;
    margin-left: 167px;
}

.file01{
    display: none;
}

/*RODAPÉ*/

.footer {
    background-color: #f3f3f3;
    color: #001a56;
    border-radius: 8px;
    height: 10px;
    margin: 15px 20px 5px 20px;
 }

#icon{
        margin-left: 1%;
        margin-top: -10%;
    }
    
}




/*************************************RESPONSIVIDADE TELA CHEIA************************************************************/

@media (min-width: 1050px) {
  
.loc2{
    display: none;
}    

.marcap{
    display: none;
}    

.whatsP a{
    display: none;
}
    
#mini-glr{
    display: none;
}    

#mini-glr2{
    display: none;
}    

.file_mini{
    display: none;
}

}
      

    
