@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #0034AC;

}

/*CABEÇALHO*/



/* Menu rede social*/
.menu{
        
        background-color: #0034AC;
        margin-top: -20%;
        width: 100%;
        text-align: left;
        padding: 13px 0px;
    }

nav{
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    
    
}

/*Logo da empresa*/
 #logmarc{
   padding: 73px 46px;
  
}

/*Links*/

#links > ul {
    padding: 0px;
    margin: 0px;
    list-style:none;
}

#links > ul > li { 
    display: inline;
 }

 #links > ul > li a {
    transition: 0.5s all !important;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    padding: 54px 20px;
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 1px 1px 1px #111;
    color: #DD3333;

}   

#links > ul > li a:hover {
    color: #0034AC;
}

/*Tel e Email*/
.info{
    font-family: 'Oswald', sans-serif;
    text-align: right;
    color: white;
    margin-right: 30px;
    margin-top: -1.8%;
}

/*tarja fina em baixo do menu*/
#lista{
    background-color: #DD3333;
    padding: 0px 0 .1px 0px;
    height: 3px;
}

/*Tel e Email*/
#info{
    font:  normal 14px "FontAwesome";
    text-align: right;
    color: white;
    margin-right: 30px;
    margin-top: -1.8%;
}

/*tarja fina em baixo dos icones*/
#lista{
    background-color: #DD3333;
    padding: 0px 0 .1px 0px;
    height: 3px;
}



/*ICONE DE WHATS*/
#whats{
    position: fixed;
    top: 35%;
    right: 2%;
    padding: 10px;
    z-index: 10000000;
}

#whats a{
    text-decoration: none;
    box-sizing: border-box;
}


img{
    vertical-align: middle;
 }

.img_fig{
    display: block;
    max-width: 100%;
    height: auto;
}

.file01{
    height: auto;
    max-width: auto;
    margin: auto;
  }
.servicos-nomes{
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 16px;    
}

/*AMORTECEDOR*/
.cx_txt-amor{
    background: rgba(63, 62, 62, 0.68);
    bottom: 84px;
    position: absolute;
    margin: 20px;
    padding: 10px 0 10px 0;
}

 .img_fig-amortecedor{
    margin: 20px;
 }


 
/*EMBREAGEM*/
.cx_txt-emb{
    background: rgba(63, 62, 62, 0.68);
    bottom: 100px;
    position: absolute;
    left: 280px;
    padding: 10px 0 10px 0;
}

.img_fig-emb{
    position: absolute;
    margin-left: 280px;
    margin-top: -16.5%;
}

/*INJEÇÃO*/
.cx_txt-inj{
    background: rgba(63, 62, 62, 0.68);
    bottom: 107px;
    position: absolute;
    left: 530px;
    padding: 10px 0 10px 0;
}

.img_fig-inj{
    display: block;
    margin-left: 530px;
    margin-top: -17%;
}


/*PREVENTIVA*/
.cx_txt-manu{
    background: rgba(63, 62, 62, 0.68);
    bottom: -141px;
    position: absolute;
    left: 20px;
    padding: 10px 0 10px 0;
}

.img_fig-manu{
    display: block;
    margin-top: 15%;
    margin: 20px;
    padding: 20px 20px 20px 0;
}

/*FREIOS*/
.cx_txt-freio{
    background: rgba(63, 62, 62, 0.68);
    bottom: -141px;
    position: absolute;
    left: 280px; 
    padding: 10px 0 10px 0;
}

.img_fig-freios{
    display: block;
    margin-top: 15%;
    margin-left: 280px;
    padding: 20px 20px 20px 0;
    margin-top: -20%;
}

/*SUSPENÇÃO*/
.cx_txt-susp{
    background: rgba(63, 62, 62, 0.68);
    position: absolute;
    bottom: -141px;
    left: 529px;
    padding: 10px 0 10px 0;
}

.img_fig-susp{
    border:5px;
    display: block;
    margin-left: 529px;
    padding: 20px 20px 20px 0;
    margin-top: -18.5%;
}

/*CATALIZDOR
.cx_vermelhacatali{
    background: rgba(230,0,8,0.68);
    position: absolute;
    bottom: -115px;
    margin-left: 530px;
    margin-top: -17%;
    
}

.img-catali{
    display: block;
    margin-top: 15%;
    margin-left: 530px;
    padding: 20px 20px 20px 0;
    margin-top: -18.5%;
}*/

/*ESCAPAMENTOS

.cx_vermelhaescap{
    background: rgba(230,0,8,0.68);
    bottom: 125px;
    position: absolute;
    display: table;
    margin-left: 760px;
    
}

.img-escap{
    display: block;
    margin-left: 760px;
    margin-top: -15.5%;
}*/

/*CAIXA DE IMAGENS*/

/*.file01 ul{
    width: 880px;
    list-style: none;
    display: flex;
    margin: 70px;
    
}*/

.min{
    width: 200px;
    padding: 10px;
}

.lboxS{
    visibility: hidden;
    opacity: 0;
    position: fixed;
}

.lboxS:target{
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(243, 243, 243, .7);
    position: fixed;
}

.box_imgS{
    width: 1000px;
    margin: 10px auto;
}

/*BOTÕES*/

.bnt{
    color: #f3f3f3;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    height: 50px;
    position: absolute;
}

#prev{
    left: 5%;
    top: 45%;
}

#next{
    right: 5%;
    top: 45%;
}

#close{
    top: 0;
    right: 2%;
}



/*TITULO PRINCIPAL DE SERVIÇOS*/

.servicos{
    bottom: 10px;
}

.titulo-princ {
    color: #f3f3f3;
    font-weight: bolder;
    font-size: 35px;
    font-family: "Oswald", sans-serif;
}

.texto-padrao {
    color: #c9bebe;
    font-weight: bolder;
    font-size:18px;
    font-family: "Oswald", sans-serif;
}


/*RODAPÉ*/
footer{
    background-color: #f3f3f3;
    text-align: left;
    color: #001a56;
    margin: 150px 16px 15px 20px;
    border-radius: 8px;
}

footer > p{
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    padding: 15px 7px 16px 60px;
}

#icon{
    text-align: right;
    padding: 0 4px 14px 0;
    margin-top: -2%;
}

/*CLASSES*/

.espec{
    width: 100%;
}
@media (max-width: 800px) {
    .img-inj{
        display: block;
        margin: 20px;
    }

    .cx_vermelhainj{
        background: rgba(230,0,8,0.68);
        bottom: -180px;
        position: absolute;
        display: table;
        margin: 20px;
        
    }
}
    
