@charset "UTF-8";

/*TESTE*/

*{
    margin: 0;
    padding: 0;
}


body{
    background-image: linear-gradient(to right, #1B1E54, #2B2B5C, #0B5192);

}



/*CABEÇALHO*/



/* Menu rede social*/
.menu{
        
        background-color: #0034AC;
        margin-top: -20%;
        width: 100%;
        text-align: left;
        padding: 13px 0px;
    }

nav{
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    
    
}

/*Logo da empresa*/
 #logmarc{
   padding: 73px 46px;
  
}

/*Links*/

#links > ul {
    padding: 0px;
    margin: 0px;
    list-style:none;
}

#links > ul > li { 
    display: inline;
 }

 #links > ul > li a {
    transition: 0.5s all !important;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    padding: 54px 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 1px 1px 1px #111;
    color: #DD3333;
}   

#links > ul > li a:hover {
    color: #0034AC;  
}


/*Tel e Email*/
.info{
    font-family: 'Oswald', sans-serif;
    text-align: right;
    color: white;
    margin-right: 30px;
    margin-top: -1.8%;
}

/*tarja fina em baixo do menu*/
#lista{
    background-color: #DD3333;
    padding: 0px 0 .1px 0px;
    height: 3px;
}



/*ICONE DE WHATS*/
#whats{
    position: fixed;
    top: 35%;
    right: 2%;
    padding: 10px;
    z-index: 10000000;
}

#whats a{
    text-decoration: none;
    box-sizing: border-box;
}


/*LOGOS DAS MARCAS DE CARRO*/
#logcar{
    text-align: center;
}

.marcas{
    background-color: #202020;
    margin: 20px;
    padding: 0 10px 0 0;
}


/*BOTAO DE "-VER MAIS-"*/

.v_m{
    background-color: #f3f3f3;
    padding: 1px 0 25px 0px;
    width: 100%;
}

.efeito{
    color: #2B2B5C;
    border: 3px solid #2B2B5C;
    background: transparent;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-left: 550px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    transition: all 400ms ease;
}

.botao-servicos{
    background-color: white;
    transform-style: preserve-3d;
 
}

.botao-servicos:after{
    color: #2B2B5C;
    border: 3px solid #2B2B5C;
    background: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 18px;
    left: 0px;
    width: 100%;
    line-height: 24px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    position: absolute;
    box-sizing: border-box;
    content: '- CLIQUE AQUI! -';
    transform-origin: left bottom;
    transform: rotateX(90deg);
}

.botao-servicos:hover{
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
}


/*ESPECIALIZADA*/

#ttesp{
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    color: #2B2B5C;
    text-align: center;
    padding: 10px;
   
}

.servicos{
    height: 400px;
    width: 850px ;
    margin: auto;
  }


.img-figure{
    display: inline-block;
    width: 10%;
    height: 150px;
    margin: 1rem;
    padding: 0px 25px 30px 0;
    margin-left: -50px;
}

.servicos-nomes{
    display: block;
    color: #fff;
    text-shadow: 1px 1px 1.5px #111;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}


/*Amortecedor*/

.cx_amortecedor{
    background: transparent;
    transition: .5s all !important;
    position: absolute;
    bottom: -345px;
    top: 138%;
    left: 13%;
    padding-right: 12px;
    margin: 20px;
    display: table;  
}

.cx_amortecedor:hover{
    transform: scale(1.1);
}

.servicos-amortecedor{
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 0px;

}

.img-figure_amortecedor{
    width: 200px;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
 }
 
 .img-figure_amortecedor img{
    width: 100%;
    height: 100%;
    transition: .5s all !important;
    
 }
 
 .img-figure_amortecedor:hover img{
    transform: scale(1.1);
 }

 
/*Embreagem*/

.cx_embreagem{
    background: transparent;
    transition: .5s all !important;
    position: absolute !important;
    bottom: -345px;
    left: 515px;
    padding-right: 12px;
    margin: 20px;
    display: table;
  
}

.cx_embreagem:hover{
    transform: scale(1.1);
}

.servicos-embreagem{
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 0px;

}

.img-figure_embreagem{
    
    width: 200px;
    height: auto;
    margin: 8px 55px 0px 100px; 
    overflow: hidden;
    object-fit: cover; 
}

.img-figure_embreagem img{
    width: 100%;
    height: 100%;
    transition: .5s all !important;
 }
 
 .img-figure_embreagem:hover img{
    transform: scale(1.1);
 }


.img-figure_embreagem h3{
    margin-left: 7px;  
    text-align: center;
 }



/*Injeção*/

.cx_injecao{
    background: transparent;
    transition: .5s all !important;
    position: absolute !important;
    bottom: -345px;
    left: 861px;
    padding-right: 12px;
    margin: 20px;
    display: table;
  
}

.cx_injecao:hover{
    transform: scale(1.1);
}

.servicos-injecao{
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 0px;

}


.img-figure_injecao{
    width: 200px;
    height: 200px;
    margin: 8px 0px 0px 50px;
    overflow: hidden;
    object-fit: cover;
}

.img-figure_injecao img{
    width: 100%;
    height: 100%;
    transition: .5s all !important;
 }
 
 .img-figure_injecao:hover img{
    transform: scale(1.1);
 }


.img-figure_injecao h3{
   margin-left: 20px; 
   margin-right: 2px;
   text-align: center;
   font-size: 17px;
 }

 /*INFORMAÇÕES GERAIS*/
.sect {
    background-color: #001a56;
    margin: 0 20px; 
}

 ul{
    padding: 0;
    margin: 0;
    text-align: center;
 }

li{
    vertical-align: middle;
    display: table-cell;   
}

li > h3{
    color:#2B2B5C;
    font-family: 'Oswald', sans-serif;
}

.item_info{
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    width: 10%;
    text-align: center;
    padding: 0 90px;
}

.item_info > h2{
    color: #f4001e;
    
}

.intem_info > p{
    color: #E1E0DE;
}

.item_info-emp{
    margin: 2rem;    
}

.item_info-emp :hover p {
    transition: 0.5s all !important;
    color: red;
}


.item_info-contato{
    text-align: center;  
    margin-top: -2%;
}

.icon:hover p {
    color: red;
}

.icon:hover{
    background-image: url('icones/icon-loc-v.png');
    background-repeat: no-repeat;
    text-align: right;
}


.item_info-hr{
 margin-top: -5%;

}

 /*RODAPÉ*/
 footer{
    background-color: #f3f3f3;
    text-align: left;
    color: #001a56;
    margin: 0px 20px 5px 20px;
}

footer > p{
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    padding: 15px 7px 16px 60px;
}

#icon{
    text-align: right;
    padding: 0 7px 25px 0;
    margin-top: -2%;
}

/*ID CONFIG DA CONTAINER DA FOTO*/
#slider{
    width: 100%; /*sempre segue um tamanho de 100%*/
    max-width: 2000px; /*vai ate o maximo de 2000px*/
    height: 35vw;
    max-height: 800px;
    position: relative;
    background-size: cover;
}

/*Id config da foto*/
#slider img{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover; /*tira aquela sensção de esticado da foto*/
    transition: opacity 800ms;
}

/*Usada no JS*/
#slider img.selected{
    opacity: 1;
}

hr{
    transform: rotate(90deg);
    width: 100px;
}




/*RESPONSIVIDADE CABEÇAHO*/

@media screen and (max-width: 600px) {

nav{
width: 100%;
padding: 0;
margin-top: -4%;
}

    #logmarc{
width: 100%;
padding: 0;
    }
    

#links ul li{
  float: none;
        width: 100%;
        padding: 0 40px;
    }

    #links ul li a{
        padding: 10px;
        text-align: center;
    }
    
    

.menu{
        width: 100%;
        padding: 70px 0 40px 0px;
        margin-top: -30%;
        text-align: right;
}

.itens_insta{
    display: inline;
}

.itens_face{
    width: 90%;
    display: inline;
}

.info{
  display: inline-block;
  width: 100%;  
  text-align: right;
  padding: 3px 0 10px;
  background-color: #DD3333;
}

#infos{
    width: 95%;
  
}

#whats{
    position: fixed;
    top: 35%;
    right: 60%;
    z-index: 1000000;
}

#whats a{
    text-decoration: none;
    box-sizing: border-box;
}


header{
    display: inline-block;
}

}


/*RESPONSIVIDADE VEJA MAIS*/





