@charset "UTF-8";

/*TESTE*/

*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #0034AC;

}



/*CABEÇALHO*/

.redsoc{
    display: flex;
    width: 100%;
    margin-bottom: -1%;
} 

.marca{
    margin-bottom: -65%;
}

nav{
    background-color: #f3f3f3;
    box-sizing: border-box;
    height: 130px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#insta{
    margin-bottom: -50%;
    margin-left: 15px;
}

#face{
    margin-bottom: -50%;
}

/*Tel e Email*/
.info{
    font-family: 'Oswald', sans-serif;
    color: white;
    margin-left: 71%;
    margin-top: 1%;
}

/*tarja fina em baixo do menu*/
#lista{
    background-color: #DD3333;
    padding: 0px 0 .1px 0px;
    height: 3px;
}


/*Logo da empresa*/
 #logmarc{
     display: flex;
}

/*Links*/
#links > ul {
    padding: 0px;
    margin-left: 700px;
    list-style:none;
}

#links > ul > li { 
    display: inline;
 }

 #links > ul > li a {
    transition: 0.5s all !important;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    padding: 54px 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 1px 1px 1px #111;
    color: #DD3333;
}   

#links > ul > li a:hover {
    color: #0034AC;  
}

/*BOTÃO MENU*/
#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

menu a{
    display: block;
    padding: .5rem;
}

#btn-mobile{
    display: none;
}

/*ICONE DE WHATS*/
#whats{
    position: fixed;
    top: 35%;
    right: 2%;
    padding: 10px;
    z-index: 10000000;
}

#whats a{
    text-decoration: none;
    box-sizing: border-box;
}


main .princ {
    display: flex;
    flex-wrap: wrap;
}


/*BOX DO TEXTO*/
#ttesp{
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    color: #0034AC;
    text-align: center;
    padding: 10px;
   
}

.servicos{
    height: 400px;
    width: 250px ;
    margin: auto;

    flex: 1;
  }


.img-figure {
    display: inline-block;
    width: 10%;
    height: 150px;
    margin: 1rem;
    padding: 0px 25px 30px 0;
    margin-left: -50px;
}

.img-figure_loja{
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
 }
 
 .img-figure_loja img{
    width: 100%;
    height: 100%;
    transition: .5s all !important;
 }
 
 .img-figure_loja:hover img{
    transform: scale(1.1);
 }



 /*BOTÃO*/

 .botao{
    float: right;
    margin-top: -4%;
    margin-right: 44%;
}

.botao-servicos{
    text-decoration: none;
    color: #2B2B5C;
    border: 3px solid #2B2B5C;
    border-radius: 10px;
    background: transparent;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 16px;
}


.botao a:hover span{
    background: #2B2B5C;
	color: #FFFFFF;
	border-radius: 10px;
    transition: 0.5s all !important;
}


/*LOGOS DAS MARCAS DE CARRO*/
#logcar{
    text-align: center;

}

.marcas{
    background-color: #202020;
    width: 90%;
    margin: 35px 20px 20px 50px;
    border-radius: 8px;  
}


 /*INFORMAÇÕES GERAIS*/
.sect {
    background-color: #001a56;
    width: 90%;
    margin: 35px 25px 0 50px; 
    border-radius: 8px;
    height: 300px;    
}

.item_sect{
    float: left;
    margin-left: 5%; 
    font-family: 'Oswald', sans-serif;
    color: #E1E0DE; 
}

.item_sect > h2{
    color: #f4001e;
    
}


.item_sect :hover p {
    transition: 0.5s all !important;
    color: red;
}


.icon:hover p {
    color: red;
    padding-left: 25px;
}

.icon:hover{
    background-image: url('icones/icon-loc-v.png');
    background-repeat: no-repeat;
  
}


 /*RODAPÉ*/

 footer{
    background-color: #f3f3f3;
    text-align: left;
    color: #001a56;
    border-radius: 8px;
    height: 50px;
    margin: 15px 20px 5px 20px;
    
}

footer > p{
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    padding: 15px 7px 16px 60px;
}

#icon{
    text-align: right;
    margin-top: -3%;
}

/*ID CONFIG DA CONTAINER DA FOTO*/
#slider{
    width: 100%; /*sempre segue um tamanho de 100%*/
    max-width: 2000px; /*vai ate o maximo de 2000px*/
    height: 35vw;
    max-height: 800px;
    position: relative;
    background-size: cover;
}

/*Id config da foto*/
#slider img{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover; /*tira aquela sensção de esticado da foto*/
    transition: opacity 800ms;
}

/*Usada no JS*/
#slider img.selected{
    opacity: 1;
}

hr{
    transform: rotate(90deg);
    width: 100px;
}




/********************************RESPONSIVIDADE****************************************************/


@media (max-width: 600px) {

/*TARJA AZUL*/
.redsoc{
    display: inline-block;
 }

 #insta{
     margin-bottom: -10%;
     margin-left: 5px;
 }

 #face{
    margin-bottom: -10%; 
 }

 /*INFORMAÇÕES*/   
 .info{
     font-size: 10px;
     margin-left: 40%;
     text-align: center;
     display: inline;
 }


 /*BOTÃO MENU*/
#btn-mobile {
     margin-left: 235px;
     display: flex;
     padding: .5rem 1rem;
     font-size: 15px;
     border: none;
     background: none;
     cursor: pointer;
     gap: .5rem;
 } 

#mecanica{
    color: red;
    border-top: 2px solid;
    width: 20px;
}

#mecanica::after, #mecanica::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

#links.active #mecanica{
    border-top-color: transparent;
}

#links.active #mecanica::before{
    transform: rotate(135deg);
}

#links.active #mecanica::after{
    transform: rotate(-135deg);
    top: -7px;
}

 #menu{
    display: block;
    position: absolute;
    width: 100%;
    top: 130px;
    right: 0px;
    background-color: #f3f3f3;
    transition: .6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow: hidden;   
}

#links.active #menu{
    height: calc(100vh - 40px);
    visibility: visible;
    overflow: auto; /*para criar barra de rodagem dependendo da quantidade de itens no menu*/
}

#menu a{
    padding: 1rem 0;
    margin: 0 1rem;
}

/*LOCAL DO MENU E LOGO*/
nav{
    height: 80px;
}

/*WHATS*/
.whats-img a{
    display: none;
    
    
}


/*SERVIÇOS*/    
.servicos{
    height: 100px;
}


/*FIGURA*/
.img-figure{
    display: none;
}

/*BOTÃO*/
.botao{
    float: right;
    margin-top: -14%;
    margin-right: 25%;
}    

 /*MARCAS*/   
.marcas{
    background-color: #202020;
    width: 90%;
    margin: 35px 5px 0 15px;
    border-radius: 8px;  
 }

 /*INFORMAÇÕES*/
.item_sect{
    font-size: 10px;
    width: 30%;
    margin-left: 1%;
    }

.sect{
    margin: 35px 5px 0 15px; 
    height: 200px;
    }

.icon:hover p {
        color: red;
        padding-left: 0px;
    }    

.icon:hover{
    background-image: none;
}    

/*RODAPÉ*/

 .footer {
    background-color: #f3f3f3;
    color: #001a56;
    border-radius: 8px;
    height: 15px;
    margin: 15px 20px 5px 20px;
 }

    #icon{
        margin-left: 1%;
        margin-top: -10%;
    }
    
}




/*************************************RESPONSIVIDADE TELA CHEIA************************************************************/

@media (min-width: 1050px) {

.whatsP a{
    display: none;
}


}





